@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
  /* min-height: 100vh; */
  /* overflow: hidden; */
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-aos] {
  backface-visibility: hidden;
  overflow-anchor: none;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 16px;
}

.mobile-container {
  /* md:hidden flex flex-col justify-between mt-10 bg-red p-1 h-[90vh] */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 20px);
  overflow-y: hidden !important;
}
